* {
  font-family: sans-serif;
}
body {
  height: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fffcff;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgb(64, 57, 57);
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  font-weight: bold;
  color: #3d70de;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #92a1d1;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #ffffff;
  font-weight: bold;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
.cell {
  display: table-cell;
  border: solid;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #58bae4;
  border: 1px solid rgb(240, 231, 231);
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.dayExtend {
  width: 150px;
  padding: 10px;
  height: 150px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* height: auto; */
}
.day:hover {
  background-color: #e8faed;
}
.day + #currentDay {
  background-color: #e8f4fa;
}
.day > .hokaBtn {
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  color: #000;
}

.day > .daySquareInnerText {
  width: 80%;
  position: absolute;
  top: 30px;
  right: 11px;
}
.day > .daySquareInnerText > .event {
  margin-bottom: 5px;
}
.event {
  font-size: 10px;
  padding: 1px 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 10px;
  max-height: 55px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent: 5px;
  box-shadow: 0px 0px 3px rgb(5, 39, 63);
}
.event:hover {
  background-color: #3effbf;
}
.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}
#schedule {
  width: auto;
  font-size: 45px;
  text-align: center;
  border-top: 1px solid #58bae4;
  margin-top: 50px;
  padding: 20px;
}
#schedule table {
  width: 100%;
  font-size: 20px;
  text-align: center;
  border: 1px solid #58bae4;
  border-collapse: collapse;
  margin: 20px 0 20px 0;
}
#schedule table tr,
th {
  border: 1px solid #58bae4;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px gray;
  font-size: 16px;
}
#eventTitleInput::placeholder {
  color: #000;
  font-size: 16px;
}
#eventTitleInput.error {
  border: 2px solid red;
}
.eventInputBox {
  display: flex;
  margin-top: 5px;
}
.eventInputBox > div {
  display: block;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px gray;
}
.eventInputBox > div:first-child {
  width: 100px;
  padding-left: 10px;
  margin-right: 5px;
  cursor: default;
}
.eventInputBox .inputArea {
  flex: 1;
}
.eventInputBox .inputArea > * {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.eventInputBox .inputArea textarea {
  resize: none;
}
.eventInputBox #dateInputArea > * {
  width: 80%;
}
.eventInputBox #dateInputArea > select:first-child {
  margin-right: 5px;
}
#newEventBtnContainer {
  margin-top: 15px;
  display: flex;
  justify-content: right;
}
#newEventBtnContainer > button {
  margin-right: 5px;
  display: block;
}
#cancelButton {
  background-color: #acb1bd;
}
#deleteButton {
  background-color: #fd5b79;
}
#saveButton,
#modifyButton {
  background-color: #8a9dff;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}
#scheduleInput {
}
#scheduleCategory {
  display: block;
  background-color: #92a1d1;
}
