body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #FFFCFF;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#schedule {
  width: auto;
  font-size: 45px;
  text-align: center;
  border-top:1px solid #58bae4;
  margin-top:50px;
  padding:20px;
}
#schedule table{  
  width: 100%;
  font-size: 20px;
  text-align: center;
  border:1px solid #58bae4;
  border-collapse: collapse;
  margin: 20px 0  20px 0;
}
#schedule table tr,th{  
  border:1px solid #58bae4;
}
#newEventModal,#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px gray;
  font-size: 16px;
}
#eventTitleInput::placeholder {
  color: #000;
  font-size: 16px;
}
#eventTitleInput.error {
  border: 2px solid red;
}
.eventInputBox {
  display: flex;
  margin-top: 5px;
}
.eventInputBox > div {
  display: block;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px gray;
}
.eventInputBox > div:first-child {
  width: 100px;
  padding-left: 10px;
  margin-right: 5px;
  cursor: default;
}
.eventInputBox .inputArea {
  flex: 1;
}
.eventInputBox .inputArea > * {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.eventInputBox .inputArea textarea {
  resize: none;
}
.eventInputBox #dateInputArea > * {
  width: 80%;
}
.eventInputBox #dateInputArea > select:first-child {
  margin-right: 5px;
}
#newEventBtnContainer{
  margin-top: 15px;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
#scheduleInput{
  
 
}
#scheduleCategory{
  display: block;
  background-color: #92a1d1;
  
}
